
@using WebApplication2.Models
@{
    ViewBag.Title = "model";

}

<h2>model @ViewBag.dane</h2>

<form action="form" method="post">
    <table>
        <tr>
            <td>Enter ID:</td>
            <td><input type="text" name="txttId"></td>
        </tr>
        <tr>
            <td><input type="submit" value="SubmitForm"</td>
        </tr>
    </table>
</form>

<h2>@ViewBag.Id</h2>

@*@model dane
@ViewBag.
@Html.TextBoxFor(m => m.dana)
<h2>@dane.</h2>*@
